@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/*COMMON*/

body {
  font-family: "Poppins", sans-serif;
  background-color: #dddddd;
  color: #363636;
  font-size: 16px;
  overflow: hidden;
}

img {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0;

  display: flex;
  align-items: stretch;
  gap: 40px;

  height: 90vh;
}

.hidden {
  height: 0;
  opacity: 0;
  z-index: -10;
  pointer-events: none;
}

.hidden-dn {
  display: none;
}

/*HEADER*/

.header {
  padding: 20px;
  text-align: center;
}

.header__title {
  font-size: 40px;
  font-weight: 500;
  color: #4d4d4d;
}

/*SIDEBAR*/

.sidebar {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 35%;

  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.sidebar__title {
  font-size: 24px;
  font-weight: 500;
  color: #4d4d4d;
  position: relative;
  margin-bottom: 40px;
}

.sidebar__title::before {
  content: "";
  display: block;
  height: 2px;
  width: 50%;
  background-color: #4d4d4d;
  opacity: 0.4;
  position: absolute;
  bottom: -4px;
  left: 0;
}

/* NOTES */

.note {
  margin-bottom: 40px;
}

.note:last-child {
  margin-bottom: 0;
}

.note__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  font-weight: 500;
  margin-bottom: 8px;
}

.btn-close {
  display: none;
}

.btn-close-icon {
  display: block;
  width: 2px;
  height: 24px;
  background-color: #e28b58;
  transform: rotate(45deg);
}

.btn-close-icon::before {
  content: "";
  display: block;
  width: 2px;
  height: 24px;
  background-color: #e28b58;
  transform: rotate(-90deg);
}

.note__counter {
  font-weight: 300;
  white-space: nowrap;
  font-size: 14px;
}

.note__title {
  padding-left: 35px;

  font-size: 20px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;

  cursor: pointer;

  position: relative;
}

.note__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 0;

  width: 20px;
  height: 20px;

  background: url("../img/arrow-down-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}

.note__title.clicked::before {
  transform: rotate(0deg);
}

.note__body {
  transition: all 0.2s ease-in-out;
}

.note__text {
  margin-bottom: 8px;
  text-align: justify;
  white-space: pre-wrap;
  overflow: hidden;
  width: 100%;

  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;

  cursor: pointer;
}

.note__date {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 300;
}

.note__img {
  box-shadow: 0px 0px 20px 2px rgba(54, 54, 54, 0.068);
  border-radius: 5px;
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}

.note__footer {
  display: flex;
  gap: 8px;
}

.note__btn {
  background-color: #ffab7b;
  border-radius: 5px;
  padding: 8px;

  color: #555749;
  font-weight: 500;

  transition: all 0.2s ease-in;
}

.edit-btn {
  background-color: #d9f39b;
}

.note__btn:hover {
  background-color: #e28b58;
  color: #363636;
}

.edit-btn:hover {
  background-color: #bbdb71;
  color: #363636;
}

/*FULL OPENED NOTE*/

.blurred-bg {
  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blurred-bg::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #242424;

  opacity: 0.8;
  z-index: 9;
}

.open-full {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  box-shadow: 0px 0px 40px 10px rgba(49, 49, 49, 0.568);
  transform: translate(-50%, -50%);
  z-index: 10;
  overflow: auto;
  width: 80vw;
  height: 80vh;

  display: flex;
  flex-direction: column;

  background-color: #fff;
  padding: 20px;
}

.open-full .btn-close {
  display: block;
  background-color: transparent;
  align-self: flex-start;
}

.open-full .btn-close:hover {
  padding: 8px 16px;
  background-color: #ffab7b9d;
}

.open-full .note__body {
  overflow-x: hidden;
  height: 100%;
  display: grid;
}

.open-full .note__header {
  gap: 12px;
}

.open-full .note__footer {
  margin-top: 8px;
}

.open-full .note__title {
  cursor: auto;
  pointer-events: none;
  padding-left: 0;
  font-size: 24px;

  max-width: none;
}

.open-full .note__title::before {
  display: none;
}

.open-full .note__text {
  white-space: normal;
  display: block;
  -webkit-line-clamp: initial;
  overflow: visible;
  text-overflow: initial;
  font-size: 18px;
}

.open-full .note__date {
  align-self: flex-end;
}

/* FORM */

.form {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 65%;

  display: flex;
  gap: 20px;
  flex-direction: column;
}

.form__title {
  font-size: 20px;
  border: 1px solid #4d4d4d4b;
  border-radius: 4px;
  padding: 8px;
}

.form__text {
  /* height: 500px; */
  flex-grow: 1;
  font-size: 18px;
  border: 1px solid #4d4d4d4b;
  border-radius: 4px;
  padding: 8px;
  outline: none;

  min-height: 100px;
}

textarea {
  resize: vertical;
}

.form__img {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.form__btns {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  height: 50px;
}

/*INPUT FILE BTN*/

.input__file-btn {
  flex-basis: 30%;

  background: #4d4d4d4b;
  color: #363636;
  border-radius: 5px;
  padding: 8px;

  transition: all 0.2s ease-in;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  position: relative;
}

.input__file-btn:hover {
  background: #4d4d4d5e;
}

.input__file-button-text {
  font-weight: 500;
  font-size: 18px;
}

.input__file-icon {
  height: 30px;
  width: 30px;
}

/*DELETE FILE CROSS*/
.delete-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete-icon {
  display: block;
  width: 2px;
  height: 16px;
  background-color: #e28b58;
  transform: rotate(45deg);
}

.delete-icon::before {
  content: "";
  display: block;
  width: 2px;
  height: 16px;
  background-color: #e28b58;
  transform: rotate(-90deg);
}

/*FORM ADD BTN*/

.form__btn {
  flex-grow: 1;

  background-color: #d9f39b;
  color: #555749;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  padding: 8px;

  transition: all 0.2s ease-in;
}

.form__btn:hover {
  background-color: #bbdb71;
}

/*MEDIA*/

@media (max-width: 1140px) {
  .container {
    gap: 20px;
  }

  .note__counter-word {
    display: none;
  }

  .note__title {
    font-size: 18px;
  }

  .note__text {
    font-size: 16px;
  }

  .form__btns {
    height: 40px;
  }

  .form__btn {
    font-size: 14px;
  }

  .delete-icon {
    width: 2px;
    height: 12px;
  }

  .delete-icon::before {
    width: 2px;
    height: 12px;
  }

  .input__file-icon {
    height: 20px;
    width: 20px;
  }

  .input__file-button-text {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .open-full {
    width: 90vw;
  }

  .container {
    flex-direction: column-reverse;
  }

  .sidebar,
  .form {
    width: 100%;
    gap: 10px;
  }

  .note__counter-word {
    display: inline;
  }

  .sidebar {
    overflow-y: unset;
  }

  body {
    overflow: scroll;
  }

  .container {
    height: unset;
  }
}

@media (max-width: 800px) {
}

@media (max-width: 545px) {
  .header__title {
    font-size: 30px;
  }

  .sidebar__title {
    font-size: 20px;
  }

  .form__title,
  .form__text,
  .note__text,
  .note__title {
    font-size: 14px;
  }

  .form__btns {
    display: flex;
    flex-direction: column;
    height: unset;
  }
}

@media (max-width: 430px) {
  .header__title {
    font-size: 24px;
  }

  .form__btns *,
  .note__footer *,
  .note__date,
  .note__counter {
    font-size: 12px;
  }
}
